{{ define "main" }}
{{ $company := site.Data.company }}
{{ $scCAB := "{{< company-address-block >}}" }}
{{ partial "header" (dict "h1" .Params.headerH1 "h2" .Params.headerH2 "h3" .Params.headerH3 "headerMessage" .Params.headerMessage) . }}
<main>
  <div id="wait-for-promise"><i class="fa-light fa-sync fa-spin fa-2xl"></i></div>
  <div id="drop_zone">DROP HERE <i class="fa-light fa-arrow-right-to-bracket fa-rotate-90"></i></div>
  <section id="contact" class="container  mt-n5 mb-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gx-4 gy-5">
      <div class="col">
        <div class="card h-100 border-sg-indigo-500 position-relative">
          <div class="position-absolute top-0 start-0 translate-middle bg-white p-2 ps-1 ms-4">
            <i class="fa-light fa-location-dot fa-2x sg-orange-500"></i>
          </div>
          <div class="position-absolute top-0 start-0 mt-lg-n4 pt-4 pt-lg-0 ps-3 ps-lg-0">
            <h2 class="fs-3 sg-gray-400 mt-lg-n5">Address</h2>
          </div>
          <div class="card-body pt-3 mt-5 pt-lg-4 mt-lg-0">
            <dl class="row mb-0">
              <dt class="col-sm-6">{{ $company.details.name }}</dt>
              <dd class="col-sm-6"><a href="https://maps.app.goo.gl/u2VcuoeQfMbe9pT18" target="_blank">{{ .Page.RenderString $scCAB }}</a></dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-sg-indigo-500 position-relative">
          <div class="position-absolute top-0 start-0 translate-middle bg-white p-2 ps-1 ms-4">
            <i class="fa-light fa-envelopes-bulk fa-2x sg-orange-500"></i>
          </div>
          <div class="position-absolute top-0 start-0 mt-lg-n4 pt-4 pt-lg-0 ps-3 ps-lg-0">
            <h2 class="fs-3 sg-gray-400 mt-lg-n5">Emails</h2>
          </div>
          <div class="card-body pt-3 mt-5 pt-lg-4 mt-lg-0">
            <dl class="row mb-0">
              <dt class="col-sm-4">General</dt>
              <dd class="col-sm-8">{{ partial "cloakemail" (dict "address" $company.emails.general) }}</dd>
              <dt class="col-sm-4">Marketing</dt>
              <dd class="col-sm-8">{{ partial "cloakemail" (dict "address" $company.emails.marketing) }}</dd>
              <dt class="col-sm-4">Sales</dt>
              <dd class="col-sm-8">{{ partial "cloakemail" (dict "address" $company.emails.sales) }}</dd>
              <dt class="col-sm-4">Support</dt>
              <dd class="col-sm-8">{{ partial "cloakemail" (dict "address" $company.emails.support) }}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-sg-indigo-500 position-relative">
          <div class="position-absolute top-0 start-0 translate-middle bg-white p-2 ps-1 ms-4">
            <i class="fa-light fa-link fa-2x sg-orange-500"></i>
          </div>
          <div class="position-absolute top-0 start-0 mt-lg-n4 pt-4 pt-lg-0 ps-3 ps-lg-0">
            <h2 class="fs-3 sg-gray-400 mt-lg-n5">Links</h2>
          </div>
          <div class="card-body pt-3 mt-5 pt-lg-4 mt-lg-0">
            <dl class="row mb-0">
              <dt class="col-sm-10"><a href="/purchase/reseller-information/" target="_blank" title="Reseller information" class="text-decoration-none text-reset d-block">Resellers information</a></dt>
              <dd class="col-sm-2"><a href="/purchase/reseller-information/" target="_blank" title="Reseller information"><span class="sg sg-link sg-indigo-500"></span></a></dd>
              <dt class="col-sm-10"><a href="https://smartgit.userecho.com/" target="_blank" title="Feature Requests" class="text-decoration-none text-reset d-block">Feature Requests</a></dt>
              <dd class="col-sm-2"><a href="https://smartgit.userecho.com/" target="_blank" title="Feature Requests"><span class="sg sg-link sg-indigo-500"></span></a></dd>
              <dt class="col-sm-10"><a href="https://groups.google.com/g/smartgit?pli=1" target="_blank" title="Community Mailing List" class="text-decoration-none text-reset d-block">Community Mailing List</a></dt>
              <dd class="col-sm-2"><a href="https://groups.google.com/g/smartgit?pli=1" target="_blank" title="Community Mailing List"><span class="sg sg-link sg-indigo-500"></span></a></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact-form-container" class="mb-5">
    <div class="container-fluid border-bottom border-top border-sg-indigo-100 bg-sg-gray-500-rgb bg-opacity-10 py-5">
      <div class="container">
        <form id="contact-form" class="needs-validation" action="/worker/contact/submit" method="post" novalidate>
          <div id="response"></div>
          <div class="page" id="page_0">
            <div class="row g-3 mb-3">
              <div class="col-md-4">
                <div class="form-floating mb-3"><input type="text" class="form-control" id="name" name="user" placeholder="Name" required>
                  <label for="name" class="form-label">Name</label><div class="invalid-feedback">Please provide your name.</div></div>
              </div>
              <div class="col-md-4">
                <div class="form-floating mb-3"><input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                  <label for="email" class="form-label">Email</label><div class="invalid-feedback">Please provide your email address.</div></div>
              </div>
            </div>
            <div class="row g-3 mb-3">
              <div class="col-md-8">
                <div class="form-floating mb-3">
                  <select class="form-select" aria-label="Floating label select example" name="type" id="type" required>
                    <option selected="">Please select</option>
                    <optgroup label="Sales inquiry">
                      <option value="licence_information">Licence Information</option>
                      <option value="pricing_questions">Pricing Questions</option>
                      <option value="volume_licencing">Volume Licencing</option>
                      <option value="upgrade_options">Upgrade Options</option>
                      <option value="enterprise_solutions">Enterprise / Custom Solutions</option>
                    </optgroup>
                    <optgroup label="Support inquiry">
                      <option value="technical_issue">Technical Issue</option>
                      <option value="bug_report">Bug Report</option>
                      <option value="feature_request">Feature Request</option>
                      <option value="setup_installation">Setup / Installation</option>
                      <option value="how_to_paid_support">How-To (Paid Support)</option>
                      <option value="account_billing">Account & Billing</option>
                    </optgroup>
                    <optgroup label="Other">
                      <option value="partnerships_reseller">Partnerships / Reseller / Ambassador</option>
                      <option value="media_inquiry">Media Inquiry</option>
                      <option value="other">Other</option>
                    </optgroup>
                  </select>
                  <label for="type" class="floatingSelect">Inquiry type</label>
                </div>
              </div>
            </div>
            <div class="row g-3 mb-3">
              <div class="col-md-8">
                <div class="form-floating mb-3"><input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                  <label for="subject" class="form-label">Subject</label><div class="invalid-feedback">Please provide a subject.</div></div>
              </div>
            </div>
            <div class="row g-3">
              <div class="col-md-8">
                <div class="form-floating mb-3"><textarea class="form-control" rows="20" id="solution" name="solution" placeholder="Message" style="min-height:250px" required></textarea>
                  <label for="solution" class="form-label">Message</label><div class="invalid-feedback">Please tell us about your inquiry.</div></div>
              </div>
              <div class="col-md-4 d-md-flex flex-md-column">
                <div class="mb-3 position-relative"><label for="attachment" class="btn btn-outline-sg-indigo w-100"><span class="fa-light fa-image sg-indigo-500"></span> Attach file (max. 5MB)</label>
                  <input type="file" id="attachment" name="attachment" class="visually-hidden" aria-describedby="fileHelp">
                  <a href="#" id="remove_attachment" class="btn btn-sg-indigo position-absolute top-0 end-0 z-1 me-0"><span class="fa-light fa-trash"></span> <span class="visually-hidden">Delete files</span></a>
                  <div id="fileHelp" class="form-text">
                    <p><span class="fa-light fa-circle-info sg-orange-500"></span> <strong>Click or drag and drop</strong></p>
                    <p class="fw-bold">Size: Under 5 MBs</p>
                  </div>
                  <div class="my-3">
                    <p id="file_name"></p>
                  </div>
                </div>
                <div class="visually-hidden">
                  <div id="turnstile-container"></div>
                </div>
                <button type="button" class="btn btn-sg-indigo w-100 btn-page mt-auto mb-3" data-id="1">Send message</button>
              </div>
            </div>
          </div>
          <div id="page_1" class="page">
            <h2>Thank you!</h2>
            <p class="fs-4">We will take care of your request as soon as possible.</p>
            <p>In the meantime follow us on:
              {{ range $company.social }}
              {{ $arr := split .url "/" }}
              {{ $last := last 1 $arr }}
              &nbsp;<a href="{{ .url }}" target="{{ .target }}" title="{{ .title }}"><i class="{{ .icon }} me-2"></i><span class="visually-hidden">{{ .title }}</span></a>
              {{ end }}
            </p>
          </div>
        </form>
      </div>
    </div>
  </section>

  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit"></script>
  {{ $sgsf := resources.Get "javascripts/smartgit-contact-form.js" | resources.Fingerprint }}
  <script src="{{ $sgsf.RelPermalink }}"></script>
</main>
{{ end }}