{{ define "main" }}
{{ $company := site.Data.company }}
{{ $scCAB := "{{< company-address-block >}}" }}
{{ $contentSpanClass := partial "content-span-class.html" (dict "Page" . "Default" "center-span") }}
{{ partial "header.html" (dict "Page" . "contentSpanDefault" "center-span" "h1" .Params.headerH1 "h2" .Params.headerH2 "message" .Params.headerMessage) }}
<main>
    <section id="imprint" class="container teaser-follow-up-soft">
        <div class="row">
            <div class="{{ $contentSpanClass }}">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 pb-4 lead">
                        <h2 class="fs-3">{{ $company.details.name }}</h2>
                        {{ .Page.RenderString $scCAB }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-9 pb-4">
                        <p>{{ $company.director }}</p>
                        <p>
                            {{ $company.reg }}<br>
                            {{ $company.tradeAuth }}<br>
                            {{ $company.vat }}<br>
                            {{ $company.duns }}<br>
                            {{ partial "cloakemail" (dict "address" $company.emails.general) }}
                        </p>
                    </div>
                    <div class="col-12 pb-4">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{ end }}
