{{ $release := .release }}
{{ $resource := site.GetPage "/download/" }}
{{ $icons := $resource.Params.icons }}
{{ $translations := $resource.Params.translations }}
{{ $downloadRef := site.Params.downloadRef }}
{{ $preferredOS := $resource.Params.osOrder }}
{{ $reorderedOS := slice }}

{{ if eq $release.is_supported false }}
<p class="p-3 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-3"><strong>This version is not supported anymore.</strong></p>
{{ end }}

{{ $len := len $preferredOS }}
{{ range (seq $len) }}
  {{ $i := sub $len . }}
  {{ $reorderedOS = append (index $preferredOS $i) $reorderedOS }}
{{ end }}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 align-items-stretch">
  {{ range $os := $reorderedOS }}
    {{ $pageForOS := index $release.downloads_by_platform $os }}
    {{ $osIcons := index $icons $os }}
    {{ $osIcon := index $osIcons 0 }}
    <div class="col d-flex flex-column">
      <div class="text-center">
        <h3 class="mb-3"><span class="visually-hidden">{{ $translations.download }} {{ $osIcon.name }}</span><span class="{{ $osIcon.icon }} {{ $osIcon.color }}"></span> <span class="fs-6">{{ $osIcon.name }}</span></h3>
      </div>
      <div class="download-os-frame h-100" data-os="{{ $os }}">
        <div class="card h-100">
        <div class="card-body p-0">
          {{ $regular := where $pageForOS "special" "ne" true }}
          {{ $special := where $pageForOS "special" "eq" true }}
          <ul class="list-group list-group-flush">
            {{ if (gt (len $regular) 0) }}
            <li class="list-group-item download-section-label text-center fw-normal small py-2">Recommended</li>
            {{ end }}
            {{ range $regular }}
              {{ partial "download/artifact.html" (dict "item" . "downloadRef" $downloadRef "osIcon" $osIcon "translations" $translations) }}
            {{ end }}
            {{ if and (gt (len $special) 0) (gt (len $regular) 0) }}
            <li class="list-group-item download-section-label text-center fw-normal small py-2">Special Bundles</li>
            {{ end }}
            {{ range $special }}
              {{ partial "download/artifact.html" (dict "item" . "downloadRef" $downloadRef "osIcon" $osIcon "translations" $translations) }}
            {{ end }}
          </ul>
        </div>
        </div>
      </div>
    </div>
  {{ end }}
</div>
{{ with $release.change_log }}
<p class="text-center my-3"><a href="/changelogs{{ . }}" target="_blank" class="fw-bold" title="{{ $translations.changeLog}}: {{ $translations.download}} {{ $translations.version }} {{ $release.major_version }}">{{ $translations.changeLog}}</a></p>
{{ end }}
{{ if .show_install_instructions }}
{{ $instructions := slice
    (dict "os" "linux" "title" "Tar Archive" "steps" (slice
        "if you have an older SmartGit version installed, exit SmartGit (use Repositories | Exit)."
        "unpack the downloaded file into a directory of your choice (don't unpack over an existing installation!): ``tar xzf <smartgit*.tar.gz>``"
        "start SmartGit: invoke ``bin/smartgit.sh``"
        "create SmartGit menu item: invoke ``bin/add-menuitem.sh``"
        "remove SmartGit menu item: invoke ``bin/remove-menuitem.sh``"))
    (dict "os" "linux" "title" "Debian Bundle" "steps" (slice
        "if you have an older SmartGit version installed, exit SmartGit (use Repositories | Exit)."
        "install SmartGit: ``sudo dpkg -i <smartgit*.deb>``"
        "if some dependencies are unmet, invoke ``sudo apt --fix-broken install``"))
    (dict "os" "mac_os" "title" "Application" "steps" (slice
        "if you have an older SmartGit version installed, exit SmartGit (Cmd+Q)."
        "double-click the downloaded dmg file"
        "copy the contained application directory structure to a directory of your choice (typically/Applications)"
        "if you prefer, drag & drop the application to the dock to create an icon"))
    (dict "os" "windows" "title" "Installer" "steps" (slice
        "if you have an older SmartGit version installed, exit SmartGit (use Repositories | Exit)."
        "unpack the downloaded zip file"
        "launch the installer and follow the instructions"))
    (dict "os" "windows" "title" "Portable" "steps" (slice
        "if you have an older SmartGit version installed, exit SmartGit (use Repositories | Exit)."
        "unpack the downloaded 7z file into an arbitrary directory of your choice (don't unpack over an existing installation!)"
        "start SmartGit: invoke ``bin\\smartgit.exe``"))
}}

<div class="row">
    <div class="col-12 mt-5">
        <h2 class="fw-bold sg-indigo-500 text-center">Installation instructions</h2>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 align-items-stretch">
    {{ range $os := $reorderedOS }}
        {{ $osInstructions := where $instructions "os" $os }}
        {{ $osIcon := index (index $icons $os) 0 }}
        <div class="col d-flex flex-column">
            <div class="text-center">
                <h3 class="mb-3"><span class="visually-hidden">{{ $translations.download }} {{ $osIcon.name }}</span><span class="{{ $osIcon.icon }} {{ $osIcon.color }}"></span> <span class="fs-6">{{ $osIcon.name }}</span></h3>
            </div>
            <div class="download-os-frame h-100" data-os="{{ $os }}">
                <div class="card h-100">
                <div class="card-body p-4">
                    {{ range $instr := $osInstructions }}
                        <h3 class="fs-6 sg-indigo-500 mt-3">{{ $instr.title }}</h3>
                        <ul class="mb-3">
                            {{ range $step := $instr.steps }}
                                <li>{{ $step | markdownify | replaceRE "^<p>|</p>$" "" | safeHTML }}</li>
                            {{ end }}
                        </ul>
                    {{ end }}
                </div>
                </div>
            </div>
        </div>
    {{ end }}
  </div>
  {{ end }}
