{{ partial "header.html" (merge (dict "Page" . "heroLayout" "with-sidebar-full") .Params) }}
<main id="6-powerful-features-plus-add-features_list">
    <div class="container">
        <div class="row">
            {{ partial "submenu-column" (dict "Page" . "overviewTitle" "Overview") }}
            <div class="sg-layout-main pe-md-0">
                <section>
                    {{ if ne .Content "" }}
                        <div class="row">
                            <div class="col-12 sg-gray-400 pb-2 lead">
                                {{ .Content }}
                            </div>
                        </div>
                    {{ end }}
                </section>
                {{ range $index, $page := sort .RegularPages "Params.weight" "asc" }}
                    {{- $summary := $page.Summary -}}
                    {{- $summaryContent := split $page.RawContent "\n***" -}}
                    {{- if gt $summaryContent 1 -}}
                        {{- $summary = delimit (first 1 $summaryContent) "" -}}
                    {{- end -}}
                    {{- $linkUrl := "" -}}
                    {{- if gt (len $page.RawContent) 0 -}}
                        {{- $linkUrl = $page.RelPermalink -}}
                    {{- end -}}
                <section class="mb-4">
                    <div class="row">
                        <div class="col-12 {{ if eq $index 0 }}pb-4{{ else }}py-4{{ end }}">
                            <h3 class="sg-indigo-500 mb-0">{{ $page.Params.listTitle }}</h3>
                        </div>
                    </div>
                    {{ partial "feature-detail-split.html" (dict
                        "leftSrc" (printf "%sindex.png" $page.RelPermalink)
                        "leftAlt" $page.Params.imageAltText
                        "right" ($summary | markdownify)
                        "rightClass" "sg-layout-content position-relative"
                        "linkUrl" $linkUrl
                        "linkText" $page.Params.linkText
                    ) }}
                </section>
                {{ end }}
            </div>
        </div>
    </div>
</main>
