{{ $page := site.GetPage "home/in-numbers.md" }}
{{ $list := $page.Params.list }}
<section id="smartgit-by-numbers" class="container my-5 pt-5">
    <div class="row text-center justify-content-around">
        <div class="d-none d-lg-block col-lg-1"></div>
        {{ range $item := $list }}
        <div class="col-sm-6 col-lg-2 pb-5">
            <div class="display-4 border-bottom border-4 border-sg-indigo-500 sg-gray-100 mb-3">{{ $item.title }}</div>
            <div class="fs-4 sg-indigo-500 fw-bold">{{ $item.desc }}</div>
        </div>
        {{ end }}
        <div class="d-none d-lg-block col-lg-1"></div>
    </div>
</section>