{{ $page := site.GetPage "home/in-numbers.md" }}
{{ $list := $page.Params.list }}
<section id="smartgit-by-numbers" class="container my-5">
  <div class="bg-sg-indigo-200-rgb bg-opacity-10 rounded-3 py-5 px-4">
    <div class="row g-4 text-center justify-content-center">
      {{ range $item := $list }}
      <div class="col-12 col-sm-4">
        <div class="display-3 fw-bold sg-indigo-500 mb-1">{{ $item.title }}</div>
        <div class="text-muted fw-semibold">{{ $item.desc }}</div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
