{{ if or .Paginator.HasPrev .Paginator.HasNext }}
<nav  aria-label="Page navigation" class="mt-5">
    <ul class="pagination justify-content-center">
    {{ if .Paginator.HasPrev }}
        <li class="page-item">
            <a class="page-link border-0" href="{{ .Paginator.Prev.URL }}">
                <i class="fa-light fa-chevron-left"></i> Previous
            </a>
        </li>
    {{ end }}

    <li class="page-item">
       <span class="page-link border-0 sg-gray-500">
      Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}
           </span>
    </li>

    {{ if .Paginator.HasNext }}
        <li class="page-item">
    <a class="page-link border-0" href="{{ .Paginator.Next.URL }}">
        Next <i class="fa-light fa-chevron-right"></i>
    </a>
        </li>
    {{ end }}
    </ul>
</nav>
{{ end }}