{{ $isMap := hasPrefix (printf "%T" .) "map" }}
{{ $page := . }}
{{ if $isMap }}
  {{ with .Page }}{{ $page = . }}{{ end }}
{{ end }}
{{ $site := $page.Site }}
{{ $spanClass := "col-12" }}
{{ if $isMap }}
  {{ with .SpanClass }}{{ $spanClass = . }}{{ end }}
{{ end }}
{{ $resource := $site.GetPage "company/success-stories/featured.md" }}
{{ $colors := $site.Data.success_stories_featured.listColors }}
{{ $files := $site.Data.success_stories_featured.list }}

<section id="success-stories-featured" class="container my-5">
    <div class="row">
        <div class="{{ $spanClass }} text-center sg-gray-400 pb-4">
            {{ with $resource }}
                {{ partial "markdown-render-section" (slice . "headline" `<h2 class="sg-indigo-500 fw-bold">$content</h2>`) }}
                {{ partial "markdown-render-section" (slice . "subline" `<h3 class="sg-gray-500">$content</h3>`) }}
            {{ end }}
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {{ range  $key, $value := $files }}
            {{ $storyPage := $site.GetPage .filename }}
            {{ $color := (index $colors $key).color }}
            {{ if $storyPage }}
                {{ $params := $storyPage.Params }}
                {{ $words := split $params.testimonial_user " " }}
                {{ $initials := apply $words "substr" "." 0 1 }}
                {{ $initialsString := delimit $initials "" }}
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center p-4 d-md-flex flex-md-column">
                    <div class="col-4 offset-4 col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                        <div class="ratio ratio-1x1">
                            <div class="rounded-circle d-flex justify-content-center align-items-center bg-sg-{{ $color }}-100">
                                <span class="fs-1 p-3 sg-{{ $color }}-500">{{ $initialsString | upper }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center my-3">
                        <div class="rounded-5 bg-sg-{{ $color }}-100 sg-{{ $color }}-600 py-2 px-2 hstack">
                            <div class="col px-2">{{ $params.testimonial_user }}</div><div class="vr"></div><div class="col px-2">{{ $params.testimonial_company }}</div>
                        </div>
                    </div>
                    <h4 class="fs-5 card-title sg-indigo-500 fw-bold pt-4">{{ $params.title }}</h4>
                    <p>{{ $params.summary }}</p>
                    <a href="{{ $storyPage.RelPermalink }}" class="stretched-link sg-gray-500 text-decoration-none mt-auto fw-bold">Read more</a>
                </div>
            </div>
        </div>
            {{ end }}
        {{ end }}
            </div>
        </div>
    </div>
</section>
