{{ $reasonsPage := site.GetPage "company/success-stories/" }}
{{ $items := $reasonsPage.Params.reasons }}
{{ $spanClass := .SpanClass | default "sg-content-span-full" }}
<section id="what-who-why" class="container pt-4 pb-2">
    <div class="row">
        <div class="{{ $spanClass }}">
    <div class="row row-cols-1 row-cols-md-3 g-4">
{{ range $items }}
        <div class="col">
            <div class="text-center p-4 h-100">
                <span class="{{ .icon }} sg-orange-500 mb-3"></span>
                <h5 class="sg-indigo-500 fw-semibold mb-2">{{ .title }}</h5>
                <p class="text-muted mb-0">{{ .desc }}</p>
            </div>
        </div>
{{ end }}
    </div>
        </div>
    </div>
</section>
