{{ $resource := .Site.GetPage "/why-choose-smartgit" }}
{{ $files := .Site.Data.why_choose_smartgit.list }}
{{ $scDnldSG := "{{< btn-download-smartgit >}}" }}
<noscript>
  <style>
    .collapse{display:block !important;}
    #accordionTabs{display:none !important;}
  </style>
</noscript>
<section id="why-choose-smartgit" class="container my-5">
  <div class="row">
    <div class="col-12 text-center sg-gray-400 pb-4">
      {{ with $resource }}
      {{ partial "markdown-render-section" (slice . "headline" `<h2>$content</h2>`) }}
      {{ end }}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-accordion-tabbed nav-underline nav-justified mb-3 d-none d-md-flex" id="accordionTabs">
        {{ range $key, $value := $files }}
          {{ $page := site.GetPage .filename }}
          {{ if $page }}
            {{ $params := $page.Params }}
        <li class="nav-item position-relative">
          <noscript class="position-absolute  top-0 start-0 end-0 bottom-0"><a href="#collapse{{$key}}" class="stretched-link">&nbsp;</a></noscript>
          <button class="nav-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{$key}}" aria-expanded="{{if not $key}}true{{else}}false{{end}}" aria-controls="collapse{{$key}}">{{$params.title}}</button>
        </li>
          {{ end }}
        {{ end }}
      </ul>
      <div class="accordion accordion-flush accordion-tabbed" id="accordionWhyChooseSmartGit">
        {{ range  $key, $value := $files }}
          {{ $page := site.GetPage .filename }}
          {{ if $page }}
            {{ $params := $page.Params }}
        <div class="accordion-item position-relative" id="accordionItem{{$key}}">
          <noscript><a href="#collapse{{$key}}" class="stretched-link">&nbsp;</a></noscript>
          <h2 class="accordion-header fs-5 d-md-none">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{$key}}" aria-expanded="{{if not $key}}true{{else}}false{{end}}" aria-controls="collapse{{$key}}">{{$params.title}}</button>
          </h2>
          <div id="collapse{{$key}}" class="accordion-collapse collapse {{if not $key}}show{{end}}" data-bs-parent="#accordionWhyChooseSmartGit">
            <div class="accordion-body py-5">
              <div class="row">
                {{ with $page }}
                <div class="col-12 col-md-6 ps-md-5">
                  {{ partial "markdown-render-section" (slice . "headline" `<h2 class="fs-5 sg-gray-500">$content</h2>`) }}
                  {{ partial "markdown-render-section" (slice . "desc" `<div>$content</div>`) }}
                  <p>{{ .Page.RenderString $scDnldSG }}</p>
                </div>
                <div class="col-12 col-md-6 pe-md-5">
                  {{ partial "markdown-render-section" (slice . "image" `<div>$content</div>`) }}
                </div>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>