<!DOCTYPE html>
<html lang="en">
{{ partial "head" . }}
<body class="home pt-5">
{{ partial "navbar" . }}
{{ partial "header-home" . }}
<main>
    {{ partial "six-powerful-benefits" . }}
    {{ partial "carousel-testimonials" . }}
    {{ partial "why-choose-smartgit" . }}
    {{ partial "how-it-works" . }}
    {{/* partial "who-uses-smartgit" . */}}
    {{ partial "in-numbers" . }}
    {{ partial "integration" . }}
    {{ partial "get-started" . }}
    {{ partial "success-stories-featured" . }}
</main>
{{ partial "footer" . }}
</body>
</html>
