{{ $name := .Name }}
{{ $idPrefix := .IdPrefix }}
{{ $checkedValue := .CheckedValue }}
<div class="row">
    <div class="col-12 px-0">
        <div class="d-flex align-items-center mb-3">
            <span class="visually-hidden">Currency</span>
            <div class="form-check form-switch ms-auto p-1 bg-transparent border-0">
                {{ range .Options }}
                    <input type="radio" class="btn-check" name="{{ $name }}" value="{{ .Value }}" id="{{ $idPrefix }}_{{ .Value }}" data-update-on="change"{{ with .DataLabel }} data-label="{{ . }}"{{ end }} autocomplete="off"{{ if eq .Value $checkedValue }} checked{{ end }}>
                    <label class="btn btn-sm" for="{{ $idPrefix }}_{{ .Value }}">{{ .Label }}</label>
                {{ end }}
            </div>
        </div>
    </div>
</div>
