{{ define "main" }}
{{ $h1 := .Title }}
{{ $h2 := .Params.Subline }}
{{ if .Params.headerH1 }}
{{ $h1 = .Params.headerH1 }}
{{end }}
{{ if .Params.headerH2 }}
{{ $h2 = .Params.headerH2 }}
{{end }}
{{ $contentSpanClass := partial "content-span-class.html" (dict "Page" . "Default" "full-span") }}
{{ partial "header.html" (dict "Page" . "contentSpanDefault" "full-span" "h1" $h1 "h2" $h2 "message" .Params.headerMessage) }}
<main id="events_section">
  <section class="container teaser-follow-up mb-5">
    <div class="row">
      <div class="{{ $contentSpanClass }}">
        {{ .Content }}
      </div>
    </div>
  </section>
</main>
{{ end }}
